## Практика

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

### Задача 1

Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

N = 1000

In [3]:
s = pd.Series(['heads', 'tails'])

In [4]:
p = 0.5

pop = np.random.choice(s, N, p=[p, p])
test = list(map(lambda x: 
                np.random.choice(s, 1, p=[1-p, p])[0]
                if x == s[1] 
                else np.random.choice(s, 1, p=[1-p, p])[0],
                   pop))

In [5]:
# DataFrame формируется чтобы в дальнейшем "уйти" от циклов
df = pd.DataFrame(zip(pop, test), columns = ['coin1', 'coin2'])
df.head(20)

    coin1  coin2
0   tails  heads
1   heads  tails
2   tails  heads
3   heads  heads
4   heads  tails
5   tails  heads
6   heads  heads
7   heads  heads
8   heads  tails
9   tails  heads
10  heads  tails
11  tails  tails
12  tails  tails
13  tails  tails
14  tails  tails
15  heads  tails
16  heads  heads
17  tails  tails
18  heads  tails
19  tails  tails

In [6]:
print (df[(df['coin1'] == s[0]) & (df['coin2'] == s[1])].shape[0]
       /df[df['coin2'] == s[1]].shape[0])

0.4923954372623574

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:

1.   A = {не выпало ни одного герба},
2.   B = {выпало четное число гербов},
3.   C = {на третьей монете выпал герб}

In [7]:
test2 = list(map(lambda x: 
                np.random.choice(s, 1, p=[1-p, p])[0]
                if x == s[1] 
                else np.random.choice(s, 1, p=[1-p, p])[0],
                   pop))

In [8]:
# DataFrame формируется чтобы в дальнейшем "уйти" от циклов
df = pd.DataFrame(zip(pop, test2), columns = ['coin1', 'coin2'])
df['coin3'] = test2
df.head(10)

   coin1  coin2  coin3
0  tails  tails  tails
1  heads  tails  tails
2  tails  heads  heads
3  heads  tails  tails
4  heads  tails  tails
5  tails  heads  heads
6  heads  heads  heads
7  heads  tails  tails
8  heads  heads  heads
9  tails  tails  tails

In [9]:
print ('A = {не выпало ни одного герба}:', df[
      (
          df['coin1'] == s[0]) 
          & (df['coin2'] == s[0]) 
          & (df['coin3'] == s[0])
         ].shape[0]
         /len(df['coin3'])
      )

A = {не выпало ни одного герба}: 0.239

In [10]:
print ('B = {выпало четное число гербов}:', 
       (df[( df['coin1'] == s[1]) 
          & (df['coin2'] == s[0]) 
          & (df['coin3'] == s[0])
         ].shape[0]
       +
       df[(df['coin1'] == s[0]) 
          & (df['coin2'] == s[1]) 
          & (df['coin3'] == s[0])
         ].shape[0]
       +
       df[(df['coin1'] == s[0]) 
          & (df['coin2'] == s[0]) 
          & (df['coin3'] == s[1])
         ].shape[0])
         / (len(df['coin3']))
      )

B = {выпало четное число гербов}: 0.25

In [11]:
print ('C = {на третьей монете выпал герб}:', 
       df[(df['coin3'] == s[0])].shape[0]
        / len(df['coin3'])
      )

C = {на третьей монете выпал герб}: 0.489

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признан достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [12]:
s = pd.Series(['E', 'L', 'Not'])
p = 1 / 3


np.random.choice(s, N, p)

jud_1 = np.random.choice(s, N, p)
jud_2 = np.random.choice(s, N, p)
jud_3 = np.random.choice(s, N, p)

In [13]:
pop = np.random.choice(s, N, p)

test3 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

In [14]:
df3 = pd.DataFrame(zip(pop, test3), columns = ['judge1', 'judge2'])
df3['judge3'] = np.random.choice(s, N, p)
df3.head(10)

  judge1 judge2 judge3
0      E      E    Not
1      E    Not      L
2    Not      L      E
3      E    Not    Not
4      L      E      E
5      E    Not      E
6      E    Not    Not
7      L    Not      L
8      L    Not      L
9      E      L      E

In [15]:
print ('A = {рекомендован L}:', 
       (df3[(df3['judge1'] == s[1]) 
          & (df3['judge2'] == s[1]) 
         ].shape[0]
       +
       df3[ (df3['judge2'] == s[1]) 
          & (df3['judge3'] == s[1])
         ].shape[0]
       +
       df3[(df3['judge1'] == s[1]) 
          & (df3['judge3'] == s[1])
         ].shape[0])
         / (len(df3['judge3'])),
       'B = {рекомендован E}:', 
       (df3[(df3['judge1'] == s[0]) 
          & (df3['judge2'] == s[0]) 
         ].shape[0]
       +
       df3[ (df3['judge2'] == s[0]) 
          & (df3['judge3'] == s[0])
         ].shape[0]
       +
       df3[(df3['judge1'] == s[0]) 
          & (df3['judge3'] == s[0])
         ].shape[0])
         / (len(df3['judge3']))
      )

A = {рекомендован L}: 0.335 B = {рекомендован E}: 0.369

### Задача 4

Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [19]:
s = pd.Series([1, 2, 3, 4, 5, 6])
p = 1/6
pop = np.random.choice(s, N, p)

test4 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

df4 = pd.DataFrame(zip(pop, test4), columns = ['cub1', 'cub2'])

df4.head(10)

   cub1  cub2
0     2     1
1     3     6
2     1     2
3     5     3
4     4     4
5     3     5
6     2     5
7     1     6
8     4     3
9     5     1

In [21]:
df4['sum'] = df4.sum(axis=1)
print ('A = {вышло две "шестерки"}:', df4[(df4['cub1'] == s[5]) & (df4['cub2'] == s[5])].shape[0]/(len(df4['cub2'])),
       '\nB = {сумма выпавших очков не меньше 11}:', df4[(df4['sum'] >= 11)].shape[0] / (len(df4['cub2'])),
       '\nC = {не выпала ни одна "шестерка"}:', df4[(df4['cub1'] != s[5]) & (df4['cub2'] != s[5])].shape[0]/(len(df4['cub2']))
      )

A = {вышло две "шестерки"}: 0.028
B = {сумма выпавших очков не меньше 11}: 0.09
C = {не выпала ни одна "шестерка"}: 0.695

## Вероятность суммы событий

### Задача 5

Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [22]:
print ('D = {выпала хотя бы одна шестёрка}:', (df4[(df4['cub1'] == s[5])].shape[0] + df4[(df4['cub2'] == s[5])].shape[0])/(len(df4['cub2'])*2))

D = {выпала хотя бы одна шестёрка}: 0.1665

Предлагается также решить задачи:

### Задача 6

В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [49]:
s = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
p = 1/10
pop = np.random.choice(s, N, p)

test6 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

df6 = pd.DataFrame(zip(pop, test6), columns = ['num1', 'num2'])
df6['num3'] = np.random.choice(s, N, p)
df6.head(10)

   num1  num2  num3
0     0     7     5
1     6     8     2
2     0     6     8
3     1     6     8
4     4     7     9
5     0     2     9
6     9     6     3
7     5     2     6
8     1     2     1
9     8     6     0

In [57]:
print ('A = {Стерлись различные цифры}:',
            (df[(df6['num1'] != df6['num2'])
              & (df6['num1'] != df6['num3'])
              & (df6['num2'] != df6['num3'])
               ].shape[0]) / len(df6['num1']) ,
       '\nB = {Стерлись одинаковые цифры}:', 
            (df[(df6['num1'] == df6['num2'])
              & (df6['num1'] == df6['num3'])
              & (df6['num2'] == df6['num3'])
                ].shape[0]) / len(df6['num1']) ,
       '\nC = {Среди стершихся цифр хотя бы две совпадают}:',
            (df6[(df6['num1'] == df6['num2']) 
               & (df6['num2'] != df6['num3'])
                ].shape[0]
             + 
             df6[(df6['num1'] == df6['num3'])
               & (df6['num1'] != df6['num2'])
                ].shape[0]
             +
             df6[(df6['num2'] == df6['num3'])
               & (df6['num1'] != df6['num2'])
                ].shape[0]) / len(df6['num3']),
       '\nD = {Среди стершихся цифр хотя бы две различны}:',
            1 - (df[(df6['num1'] == df6['num2'])
              & (df6['num1'] == df6['num3'])
              & (df6['num2'] == df6['num3'])
                ].shape[0]) / len(df6['num1']))

A = {Стерлись различные цифры}: 0.718
B = {Стерлись одинаковые цифры}: 0.009
C = {Среди стершихся цифр хотя бы две совпадают}: 0.273
D = {Среди стершихся цифр хотя бы две различны}: 0.991

## Случайные величины

### Задача 7

В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

In [81]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
win = 10
cost = 1
n = 0

while True:
    k = np.random.choice(s)
    if k != 7:
        n += 1
        s.drop(labels=k)
    else:
        break
        
print('Чистая прибыль участника:', n * -(cost) + win)

Чистая прибыль участника: 8

Предлагается также решить задачу:

### Задача 8

Брошены две игральные кости. Найти закон распределения случайной величины 
X
, равной сумме выпавших очков. Найти вероятности событий 
X<=4, X>4

In [91]:
s = pd.Series([1, 2, 3, 4, 5, 6])
p = 1/6
pop = np.random.choice(s, N, p)

test8 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

df8 = pd.DataFrame(zip(pop, test8), columns = ['cub1', 'cub2'])

df8.head(10)

   cub1  cub2
0     6     3
1     3     2
2     2     5
3     5     2
4     4     6
5     3     5
6     4     5
7     1     3
8     4     6
9     1     6

In [92]:
df8['sum'] = df8.sum(axis=1)
print('Вероятность событий X<=4:', 
      df8[df8['sum'] <= 4].shape[0] / len(df8['sum']),
      'Вероятность событий X>4:',
     df8[df8['sum'] > 4].shape[0] / len(df8['sum']))

Вероятность событий X<=4: 0.171 Вероятность событий X>4: 0.829

## Условные вероятности

### Задача 9

Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

In [95]:
s = pd.Series([6, 7, 8, 9, 10, 'В', 'Д', 'К', 'Т'])
p = 1/9
pop = np.random.choice(s, N, p)

test9 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

df9 = pd.DataFrame(zip(pop, test9), columns = ['card1', 'card2'])

df9.head(5)

  card1 card2
0     К     8
1     Д     В
2     6    10
3     8     Т
4     6     9

In [97]:
print('Вероятность того, что первой картой была шестерка, а второй — семерка:',
     df9[(df9['card1'] == 6)
       & (df9['card2'] == 7)
        ].shape[0] / len(df9['card1'])
     )

Вероятность того, что первой картой была шестерка, а второй — семерка: 0.014

In [100]:
s = pd.Series(['6б', '7б', '8б', '9б', '10б', 'Вб', 'Дб', 'Кб', 'Тб',
               '6ч', '7ч', '8ч', '9ч', '10ч', 'Вч', 'Дч', 'Кч', 'Тч',
               '6п', '7п', '8п', '9п', '10п', 'Вп', 'Дп', 'Кп', 'Тп',
               '6к', '7к', '8к', '9к', '10к', 'Вк', 'Дк', 'Кк', 'Тк'])
p = 1/36
pop = np.random.choice(s, N, p)

test9_2 = list(map(lambda x: 
                np.random.choice(s, 1, p)[0]
                if x == s[1] 
                else np.random.choice(s, 1, p)[0],
                   pop))

df9_2 = pd.DataFrame(zip(pop, test9_2), columns = ['card1', 'card2'])

df9_2.head(5)

  card1 card2
0    Кп    7ч
1    9ч    Тч
2   10п    8к
3    9к    Тб
4    Кк    8к

In [101]:
print('Вероятность того, что обе карты бубновой масти:',
     df9_2[(df9_2['card1'] == '6б')
       & (df9_2['card2'] == '7б')
        ].shape[0] / len(df9_2['card1'])
     )

Вероятность того, что обе карты бубновой масти: 0.001

Предлагается также решить задачу:

### Задача 10

Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

A
 = {извлечены два белых шара},

B
 = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B =\\overline C_1\\overline C_2$

In [166]:
bucket = ['white_ball', 'white_ball', 'black_ball', 'black_ball', 'black_ball']

df10 = pd.DataFrame(zip('1', '2'), columns = ['ball_1', 'ball_2'])

N = 1000
while N > 0:
    ball_1 = np.random.choice(bucket)
    if ball_1 == 'black_ball':
        bucket.append('white_ball')
    ball_2 = np.random.choice(bucket)
    df10 = df10.append({'ball_1': ball_1, 'ball_2' : ball_2}, ignore_index=True)
    N -= 1

df10 = df10.drop(index=[0])

df10.head(5)

       ball_1      ball_2
1  black_ball  white_ball
2  black_ball  white_ball
3  black_ball  black_ball
4  black_ball  white_ball
5  black_ball  black_ball

In [167]:
print('A = {извлечены два белых шара}:',
     (df10[(df10['ball_1'] == 'white_ball')
        & (df10['ball_2'] == 'white_ball')
         ].shape[0]) / len(df10['ball_1']),
      'B = {извлечены два черных шара}:',
      (df10[(df10['ball_1'] == 'black_ball')
        & (df10['ball_2'] == 'black_ball')
         ].shape[0]) / len(df10['ball_1'])
     )

A = {извлечены два белых шара}: 0.869 B = {извлечены два черных шара}: 0.008